<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Core Identifier</key>
	<string>org.openemu.Gambatte</string>
	<key>Core Version</key>
	<string>0.5.0.689</string>
	<key>Name</key>
	<string>OESpecialState_auto</string>
	<key>ROM MD5</key>
	<string>35c8154c81abb2ab850689fd28a03515</string>
	<key>Timestamp</key>
	<date>2021-12-29T21:15:59Z</date>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
